@board: #8C6D57;
@dkboard: darken(@board, 5%);

body {
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
	height: 100%;

	#app {
		height: 100%;

		.board {
			background-color: @board;
			border: 1px solid @dkboard;
			height: 900px;

			.board-bottom, .board-top {
				height: 50%;
				display: inline-block;
				
				li {
					z-index: 1;
					display: inline-block;
					list-style-type: none;

					ul {
						display: block;

						li {
							display: block;
							list-style-type: none;
						}
					}
				}

				.bar {
					height: 100%;
					width: 150px;
					border-left: 1px solid @dkboard;
					border-right: 1px solid @dkboard;
				}

				.home {
					height: 100%;
					width: 200px;
					border: 2px solid @dkboard;
				}

				.board-top {

					.space {
						background-image: url(top-space.png);
					}
				}

				.board-bottom {
					
					.space {
						background-image: url(bottom-space.png);
					}
				}
			}
		}
	}	
}