@board: #8C6D57;
@dkboard: darken(@board, 20%);

body {
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
	height: 100%;

	#app {
		height: 100%;

		.board {
			background-color: @board;
			border: 5px solid @dkboard;
			height: 550px;
			width: 1143px;
			margin: 0 auto;
			margin-top: 5%;

			.board-bottom, .board-top {
				width: 100%;
				height: 50%;
				padding-left: 0;
				margin-top: -1.5px;
				margin-bottom: 0;
				
				li {
					z-index: 1;
					display: inline-block;
					list-style-type: none;

					ul {
						padding-left: 0;

						li {
							z-index: 2;
							display: block;
							list-style-type: none;

							img {
								margin-left: 15px;
							}
						}
					}
				}

				.bar {
					height: 275px;
					width: 80px;
					border-left: 2px solid @dkboard;
					border-right: 2px solid @dkboard;
				}

				.home {
					height: 275px;
					width: 120px;
					border: 2px solid @dkboard;
				}
				.space {
					height: 250px;
					width: 78px;
					background-position: center center fixed;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}

			.board-top {
				.bar {
					border-top: 2px solid @dkboard;
				}

				.space {
					background-image: url(top-space.png);
					margin-bottom: 26px;
				}
			}

			.board-bottom {
				.bar {
					border-bottom: 2px solid @dkboard;
				}
				
				.space {
					background-image: url(bottom-space.png);
				}
			}
		}
	}	
}